[Unit]
Description=Start /urs/bin/watchdog.sh on boot
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/watchdog.sh
Restart=always

[Install]
WantedBy=multi-user.target